.container {
  padding: 50px;
  border: 1px solid #333;
  background-color: #e3e1e1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.result {
  font-size: 45px;
  font-weight: 600;
}

.wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

.btn {
  padding: 10px;
}
